<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>clear_day</string>
	<key>1</key>
	<string>cloudy_day_night</string>
	<key>2</key>
	<string>cloudy_day_night</string>
	<key>3</key>
	<string>light_rain_day_night</string>
	<key>4</key>
	<string>thundershowers_day_night</string>
	<key>5</key>
	<string>thundershowers_day_night</string>
	<key>6</key>
	<string>snow_rain_mix_day_night</string>
	<key>7</key>
	<string>light_rain_day_night</string>
	<key>8</key>
	<string>scattered_showers_day_night</string>
	<key>9</key>
	<string>rain_day_night</string>
	<key>10</key>
	<string>rain_day_night</string>
	<key>11</key>
	<string>thunderstorm_day_night</string>
	<key>12</key>
	<string>thunderstorm_day_night</string>
	<key>13</key>
	<string>flurries_day_night</string>
	<key>14</key>
	<string>flurries_day_night</string>
	<key>15</key>
	<string>snow_day_night</string>
	<key>16</key>
	<string>snow_day_night</string>
	<key>17</key>
	<string>heavy_snow_day_night</string>
	<key>18</key>
	<string>fog_day_night</string>
	<key>19</key>
	<string>freezing_rain_day_night</string>
	<key>20</key>
	<string>windy_day_night</string>
	<key>21</key>
	<string>scattered_showers_day_night</string>
	<key>22</key>
	<string>rain_day_night</string>
	<key>23</key>
	<string>rain_day_night</string>
	<key>24</key>
	<string>thunderstorm_day_night</string>
	<key>25</key>
	<string>thunderstorm_day_night</string>
	<key>26</key>
	<string>flurries_day_night</string>
	<key>27</key>
	<string>snow_day_night</string>
	<key>28</key>
	<string>heavy_snow_day_night</string>
	<key>29</key>
	<string>smoky_day_night</string>
	<key>30</key>
	<string>hurricane_day_night</string>
	<key>31</key>
	<string>windy_day_night</string>
	<key>32</key>
	<string>smoky_day_night</string>
</dict>
</plist>
